{% extends 'base.html' %}

{% block conteudo%}
    {% set mensagens = get_flashed_messages() %}
    {% if mensagens %}
        {% for msg in mensagens %}
            <div>
                {{msg}}
            </div>
        {% endfor %}
    {% endif %}
    <div>
        <a href="/pedidos/add">Adicionar</a>
    </div>
    <table>
        <tr>
            <th>Nome</th>
            <th>Pizza</th>
            <th>Data</th>
        </tr>
        {% for pe in pedidos %}
        <tr>
            <td>{{pe.usuario.nome}}</td>
            <td>{{pe.pizza.sabor}}</td>
            <td>{{pe.data}}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}